<p id="notice">
    <%= notice %>
</p>

<div style="display: flex; justify-content: space-between;">
    <div class="lapor-userbox">
        <div class="lapor-userbox-profile">
            <% if @user.profile == nil || @user.profile.profile_picture == '' || @user.profile.profile_picture == nil %>
                <%= image_tag "web_assets/anonymous/profile_male.jpg", :class => "lapor-profile-resize" %>
            <% else %>
                <%= image_tag @user.profile.profile_picture, :class => "lapor-profile-resize"  %>
            <% end %>
        </div>
        <h1><%= session[:username] %></h1>
    </div>
    <div style="width: 60%;">
        <% @users.each do |user| %>
            <% if user.id != session[:user_id] %>
                <div class="lapor-connect-userbox">
                    <div class="lapor-userbox-profile">
                        <% if user.profile == nil || user.profile.profile_picture == '' || user.profile.profile_picture == nil %>
                            <%= image_tag "web_assets/anonymous/profile_male.jpg", :class => "lapor-profile-resize" %>
                        <% else %>
                            <%= image_tag user.profile.profile_picture, :class => "lapor-profile-resize"  %>
                        <% end %>
                    </div>
                    <h1><%= user.username %></h1>
                    <span>Add</span>
                </div>
            <% end %>
        <% end %>
    </div>
</div>