<%= form_with(model: profile, url: @profile.user_id == nil ? create_new_profile_path(@profile) : put_profile_path(@profile), local: true, id: 'editProfileForm', class: "lapor-profile-form", html: { autocomplete: "off" }) do |form| %>
  <%= form.hidden_field :fullname, id: :nameInput %>
  <%= form.hidden_field :lifemotto, id: :mottoInput %>
  
  <% if @user.profile != nil &&
    (
      @user.profile.dateofbirth != nil && @user.profile.dateofbirth != '' || 
      @user.profile.gender != nil && @user.profile.gender != '' ||
      @user.profile.phone != nil && @user.profile.phone != '' ||
      @user.profile.address != nil && @user.profile.address != '' ||
      @user.profile.nationality != nil && @user.profile.nationality != '' 
    )
  %>
    <%= form.hidden_field :dateofbirth, id: :dobInput %>
    <%= form.hidden_field :gender, id: :genderInput %>
    <%= form.hidden_field :phone, id: :phoneInput %>
    <%= form.hidden_field :address, id: :addressInput %>
    <%= form.hidden_field :nationality, id: :nationInput %>
  <% end %>

  <% if @user.profile != nil && @user.profile.summary != nil && @user.profile.summary != ''%>
    <%= form.hidden_field :summary, id: :sumInput %>
  <% end %>

  <div id="addInput">
    <% if @user.profile != nil && @user.profile.education != nil%>
      <% @user.profile.education.each do |education| %>
        <%= form.fields_for :education, education do |education_form| %>
            <%= education_form.hidden_field :degree, class: :degInput %>
            <%= education_form.hidden_field :firm_id, class: :firmIDInput %>
            <%= education_form.hidden_field :profile_id, class: :profileIDInput %>
            <%= education_form.hidden_field :join_date, class: :joinInput %>
            <%= education_form.hidden_field :end_date, class: :endInput %>
        <% end %>
      <% end %>
    <% end %>
    <div id="addInputEducation"></div>
  </div>

  <div id="modal" class="lapor-edit-profile-modal">
    <div id="profilePictureForm">
      <h1>Profile Picture</h1>
      <div class="field">
        <%= form.label :profile_picture, 'Choose file to upload' %><br>
        <%= form.file_field :profile_picture %>
      </div>
    </div>
    <div id="homePictureForm">
      <h1>Home Picture</h1>
      <div class="field">
        <%= form.label :home_picture, 'Choose file to upload' %><br>
        <%= form.file_field :home_picture %>
      </div>
    </div>
  </div>  
  
  <div class="lapor-edit-profile-submit">
    <%= form.submit "Save Edits", id: 'editProfileSubmitButton', class: 'lapor-form-button' %>
  </div>
<% end %> 

  <div class="lapor-edit-profile-title">
    <div class="lapor-edit-profile-name">
      <div>Welcome,&nbsp;</div>
      <div id="nameDiv" contentEditable="true" data-text="Please enter your name">
        <% if @user.profile == nil || @user.profile.fullname == '' %>
          <%= @user.username %> 
        <% else %>
          <%= @user.profile.fullname %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="lapor-edit-image-container">
    <div id="laporEditProfilePicture" class="lapor-edit-profile-image">
      <% if @user.profile == nil || @user.profile.profile_picture == '' || @user.profile.profile_picture == nil  %>
          <%= image_tag "web_assets/anonymous/profile_male.jpg", :class => "lapor-profile-resize" %>
      <% else %>
          <%= image_tag @user.profile.profile_picture, :class => "lapor-profile-resize"  %>
      <% end %>
      <i class="fas fa-camera lapor-edit-profile-logo"></i>
    </div>
    <% if @user.profile == nil || @user.profile.home_picture == '' || @user.profile.home_picture == nil  %>
        <%= image_tag "web_assets/anonymous/profile_background.jpg", :class => "lapor-profile-resize",  :id => "laporEditHomePicture" %>
    <% else %>
        <%= image_tag @user.profile.home_picture, :class => "lapor-profile-resize",  :id => "laporEditHomePicture" %>
    <% end %>
    <i class="fas fa-camera fa-10x"></i>
  </div>
  <div class="lapor-profile-motto">
    <i>

      <div>"</div>
      <div id="mottoDiv" class="lapor-edit-life-motto" contenteditable="true" data-text="Add your life motto"><%= @user.profile == nil || @user.profile.lifemotto == nil ? '' : @user.profile.lifemotto %></div>
      <div>"</div>
    </i>
  </div>

  <div class="lapor-profile-section-container">
    <div class="lapor-first-new-section">
      <% if @user.profile != nil &&
            (
              @user.profile.dateofbirth != nil && @user.profile.dateofbirth != '' || 
              @user.profile.gender != nil && @user.profile.gender != '' ||
              @user.profile.phone != nil && @user.profile.phone != '' ||
              @user.profile.address != nil && @user.profile.address != '' ||
              @user.profile.nationality != nil && @user.profile.nationality != '' 
            )
      %>
        <div class="lapor-profile-biodata">
          <b>Biodata</b>
          <hr>
          <div class="lapor-portfolio-item">
            <div>
              <i class="fas fa-birthday-cake"></i>
            </div>
            <b>Date of Birth</b>
            <span id="dobDiv" contentEditable="true" data-text="dd/mm/yyyy"><%= @user.profile.dateofbirth == nil ? '' : @user.profile.dateofbirth.strftime("%d %B %Y") %></span>
          </div>
          <div class="lapor-portfolio-item">
            <div>
              <i class="fas fa-<%= @user.profile.gender == 'Male' ? 'mars' : 'venus' %>"></i>
            </div>
            <b>Sex</b> 
            <span id="genderDiv" contentEditable="true" data-text="Male/Female"><%= @user.profile.gender %></span> 
          </div>
          <div class="lapor-portfolio-item">
            <div>
              <i class="fas fa-phone"></i>
            </div>
            <b>Phone</b> 
            <span id="phoneDiv" contentEditable="true" data-text="Phone"><%= @user.profile.phone %></span> 
          </div>
          <div class="lapor-portfolio-item">
            <div>
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <b>Address</b> 
            <span id="addressDiv" contentEditable="true" data-text="Address"><%= @user.profile.address %></span> 
          </div>
          <div class="lapor-portfolio-item">
            <div>
              <i class="fas fa-flag"></i>
            </div>
            <b>Nationality</b> 
            <span id="nationDiv" contentEditable="true" data-text="Nationality"><%= @user.profile.nationality %></span> 
          </div>
        </div>

        
        <% if @user.profile.education != nil %>
          <% @headerFlag = false %>
          <% @user.profile.education.each_with_index do |education, index| %>
            <% if education != nil &&
                    (
                      education.degree != nil && education.degree != '' || 
                      education.join_date != nil && education.join_date != '' ||
                      education.end_date != nil && education.end_date != '' ||
                      education.firm_id != nil && education.firm_id != ''
                    )
            %>
              <% if @headerFlag == false %>
                <div class="lapor-profile-biodata lapor-profile-education">
                  <b>Education</b>
                  <hr>
              <% end %>
                <% if @headerFlag == true %>
                  <div class="lapor-twitbox-space-circles"></div>
                <% end %>
                  <div class="lapor-portfolio-item">
                    <div>
                      <i class="fas fa-graduation-cap"></i>
                    </div>
                    <b>Degree</b>
                    <span class="degDiv" contentEditable="true" data-text="Degree"><%= education.degree %></span>
                  </div>
                  <div class="lapor-portfolio-item">
                    <div>
                      <i class="fas fa-calendar-alt"></i>
                    </div>
                    <b>Join Date</b>
                    <span class="joinDiv" contentEditable="true" data-text="dd/mm/yyyy"><%= education.join_date == nil ? '' : education.join_date.strftime("%d %B %Y") %></span>
                  </div>
                  <div class="lapor-portfolio-item">
                    <div>
                      <i class="fas fa-calendar-alt"></i>
                    </div>
                    <b>End Date</b>
                    <span class="endDiv" contentEditable="true" data-text="dd/mm/yyyy"><%= education.end_date == nil ? '' : education.end_date.strftime("%d %B %Y") %></span>
                  </div>
                <% @headerFlag = true %>
              <% if index == @user.profile.education.size - 1 %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <% if @user.profile.experience != nil %>
          <% @headerFlag = false %>
            <% @user.profile.experience.each_with_index do |experience, index| %>
              <% if experience != nil &&
                      (
                        experience.degree != nil && experience.degree != '' || 
                        experience.join_date != nil && experience.join_date != '' ||
                        experience.end_date != nil && experience.end_date != '' ||
                        experience.firm_id != nil && experience.firm_id != ''
                      )
              %>
                <% if @headerFlag == false %>
                  <div class="lapor-profile-biodata lapor-profile-education">
                    <b>Experience</b>
                    <hr>
                <% end %>
                <% if @headerFlag == true %>
                  <div class="lapor-twitbox-space-circles"></div>
                <% end %>
                <div class="lapor-portfolio-item">
                  <div>
                    <i class="fas fa-briefcase"></i>
                  </div>
                  <b>Position</b>
                  <span class="posDiv" contentEditable="true" data-text="Position"><%= experience.position %></span>
                </div>
                <div class="lapor-portfolio-item">
                  <div>
                    <i class="fas fa-calendar-alt"></i>
                  </div>
                  <b>Start Date</b>
                  <span class="startExDiv" contentEditable="true" data-text="dd/mm/yyyy"><%= experience.start_date == nil ? '' : experience.start_date.strftime("%d %B %Y") %></span>
                </div>
                <div class="lapor-portfolio-item">
                  <div>
                    <i class="fas fa-calendar-alt"></i>
                  </div>
                  <b>End Date</b>
                  <span class="endExDiv" contentEditable="true" data-text="dd/mm/yyyy"><%= experience.end_date == nil ? '' : experience.end_date.strftime("%d %B %Y") %></span>
                </div>
                <% @headerFlag = true %>
                <% if index == @user.profile.experience.size - 1 %>
                  </div>
                <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="lapor-second-new-section">
      <% if @user.profile != nil && @user.profile.summary != nil && @user.profile.summary != ''%>
        <div class="lapor-profile-description">
          <div id="sumDiv" contentEditable="true" data-text="Describe yourself..."><%= @user.profile.summary %></div>
        </div>
      <% end %>
    </div>
    <div class="lapor-third-new-section">
    </div>
  </div>
  
  <div id="laporAddSection">
    <div class="lapor-add-section-sub-button">
      <i class="fas fa-user"></i>
    </div>
    <div class="lapor-add-section-sub-button">
      <i class="fas fa-stream"></i>
    </div>
    <div class="lapor-add-section-sub-button">
      <i class="fas fa-file-alt"></i>
    </div>
    <i class="fas fa-plus fa-4x"></i>
  </div>

  <script>
    document.addEventListener("paste", function(e) {
        // cancel paste
        e.preventDefault();
        // get text representation of clipboard
        var text = (e.originalEvent || e).clipboardData.getData('text/plain');
        // insert text manually
        document.execCommand("insertHTML", false, text);
    });

    if (!Element.prototype.matches) {
      Element.prototype.matches = 
        Element.prototype.matchesSelector || 
        Element.prototype.webkitMatchesSelector ||
        Element.prototype.mozMatchesSelector ||
        Element.prototype.msMatchesSelector || 
        Element.prototype.oMatchesSelector || 
        function(s) {
            var matches = (this.document || this.ownerDocument).querySelectorAll(s),
                i = matches.length;
            while (--i >= 0 && matches.item(i) !== this) {}
            return i > -1;            
        };
    }

    function delegate(el, evt, sel, handler) {
      el.addEventListener(evt, function(event) {
        var t = event.target;
        while (t && t !== this) {
          if (t.matches(sel)) {
            handler.call(t, event);
          }
          t = t.parentNode;
        }
      });
    }

    function contentIsEmptyCheck(elementId){
      if(document.getElementById(elementId).innerHTML == ''){
        document.getElementById(elementId).style.width = "300px";
        document.getElementById(elementId).style.height = "39px";
      }
      else{
        document.getElementById(elementId).removeAttribute("style");
      }
    }

    function removeSymbols(str){
      return str.replace(/&amp;|&nbsp;|&lt;|&gt;|;|&|<|>|:|"|'|\[|\]|\\|\||\/|\.|,|\-|_|=|!|@|#|\$|%|\^|&|\*|\(|\)|`|~|\}|\{|/g,'')
    }

    function lifemottoQuotationCheck(){
      if($('.lapor-edit-life-motto[contentEditable=true]').is(':empty'))
      {
        $('.lapor-edit-life-motto[contentEditable=true]:empty').prev().hide();
        $('.lapor-edit-life-motto[contentEditable=true]:empty').next().hide();
      }
      else{
        $('.lapor-edit-life-motto[contentEditable=true]:focus').prev().show();
        $('.lapor-edit-life-motto[contentEditable=true]:focus').next().show();
      }
      contentIsEmptyCheck('mottoDiv');
    }
    
    $("#editProfileSubmitButton").on('click', function(e){
      e.preventDefault();
      let nameDiv = document.getElementById('nameDiv');
      let mottoDiv = document.getElementById('mottoDiv');
      let sumDiv = document.getElementById('sumDiv');
      let dobDiv = document.getElementById('dobDiv');
      let genderDiv = document.getElementById('genderDiv');
      let addressDiv = document.getElementById('addressDiv');
      let nationDiv = document.getElementById('nationDiv');
      let phoneDiv = document.getElementById('phoneDiv');
      let degDiv = document.getElementsByClassName('degDiv');
      let joinDiv = document.getElementsByClassName('joinDiv');
      let endDiv = document.getElementsByClassName('endDiv');
      let posDiv = document.getElementsByClassName('posDiv');
      let startExDiv = document.getElementsByClassName('startExDiv');
      let endExDiv = document.getElementsByClassName('endExDiv');

      let nameInput = document.getElementById('nameInput');
      nameInput.value = removeSymbols(nameDiv.innerHTML.trim());

      let mottoInput = document.getElementById('mottoInput');
      mottoInput.value = removeSymbols(mottoDiv.innerHTML.trim()).trim();
      
      if(sumDiv){
        let sumInput = document.getElementById('sumInput');
        sumInput.value = removeSymbols(sumDiv.innerHTML.trim());
      }
      if(dobDiv){
        let dobInput = document.getElementById('dobInput');
        dobInput.value = removeSymbols(dobDiv.innerHTML.trim());
      }
      if(genderDiv){
        let genderInput = document.getElementById('genderInput');
        genderInput.value = removeSymbols(genderDiv.innerHTML.trim());
      }
      if(phoneDiv){
        let phoneInput = document.getElementById('phoneInput');
        phoneInput.value = removeSymbols(phoneDiv.innerHTML.trim());
      }
      if(addressDiv){
        let addressInput = document.getElementById('addressInput');
        addressInput.value = removeSymbols(addressDiv.innerHTML.trim());
      }
      if(nationDiv){
        let nationInput = document.getElementById('nationInput');
        nationInput.value = removeSymbols(nationDiv.innerHTML.trim());
      }
      if(degDiv){
        let degInput = document.getElementsByClassName('degInput');
        for(let i = 0; i < degDiv.length; i++){
          degInput[i].value = removeSymbols(degDiv[i].innerHTML.trim());
        }
      }
      if(joinDiv){
        let joinInput = document.getElementsByClassName('joinInput');
        for(let i = 0; i < joinDiv.length; i++){
          joinInput[i].value = removeSymbols(joinDiv[i].innerHTML.trim());
        }
      }
      if(endDiv){
        let endInput = document.getElementsByClassName('endInput');
        for(let i = 0; i < endDiv.length; i++){
          endInput[i].value = removeSymbols(endDiv[i].innerHTML.trim());
        }
      }
      if(posDiv){
        let posInput = document.getElementsByClassName('posInput');
        for(let i = 0; i < posDiv.length; i++){
          posInput[i].value = removeSymbols(posDiv[i].innerHTML.trim());
        }
      }
      if(startExDiv){
        let startExInput = document.getElementsByClassName('startExInput');
        for(let i = 0; i < startExDiv.length; i++){
          startExInput[i].value = removeSymbols(startExDiv[i].innerHTML.trim());
        }
      }
      if(endExDiv){
        let endExInput = document.getElementsByClassName('endExInput');
        for(let i = 0; i < endExDiv.length; i++){
          endExInput[i].value = removeSymbols(endExDiv[i].innerHTML.trim());
        }
      }

      document.getElementById('editProfileForm').submit();
    });

    $(document).ready(function(){
      lifemottoQuotationCheck();
      $('.lapor-edit-life-motto[contentEditable=true]').on('input', function(){
        lifemottoQuotationCheck();
      });
    });

    $('.lapor-edit-image-container > div.lapor-edit-profile-image ~ img ~ i').on('mouseenter', function(){
      $('.lapor-edit-image-container > div.lapor-edit-profile-image ~ img').css({'opacity':'.5'});
    });

    $('.lapor-edit-image-container > div.lapor-edit-profile-image ~ img ~ i').mouseout(function(){
      $('.lapor-edit-image-container > div.lapor-edit-profile-image ~ img').removeAttr("style");
    });

    $('#laporEditProfilePicture').on('click', function(){
        $('#modal').fadeIn(500, function(){
            $('#profilePictureForm').fadeIn(500);
        });
    });

    $('#laporEditHomePicture, #laporEditHomePicture ~ i').on('click', function(){
        $('#modal').fadeIn(500, function(){
            $('#homePictureForm').fadeIn(500);
        });
    });

    $('.lapor-first-new-section').on('blur', '.lapor-profile-section > b', function(){
      if(!document.querySelectorAll('.lapor-profile-add-section-item')[0] && $('.lapor-profile-section > b').html() != ''){
        document.querySelectorAll('.lapor-profile-section')[0].innerHTML += '<div class="lapor-portfolio-item">\
          <div>\
            <i class="fas fa-birthday-cake"></i>\
          </div>\
          <b contentEditable="true" data-text="Title..."></b>\
          <span contentEditable="true" data-text="..."></span>\
        </div>';  
      }
    });

    $('#modal').on('click', function(e){
        if (e.target !== this)
          return;
        else{
          $('#modal').fadeOut(500, function(){
            $('#profilePictureForm').hide();
            $('#homePictureForm').hide();
          });
        }
    });

    if(document.querySelectorAll('.lapor-profile-biodata')[0]){
      let addBiodataButton = document.querySelectorAll('.fas.fa-user')[0];
      if(addBiodataButton){
        addBiodataButton.classList.add("fa-user-graduate");
        addBiodataButton.classList.remove("fa-user");
      }
    }

    if(document.querySelectorAll('.lapor-profile-description')[0]){
      let addStreamButton = document.querySelectorAll('.fas.fa-stream')[0];
      if(addStreamButton){
        addStreamButton.classList.add("fa-user-tie");
        addStreamButton.classList.remove("fa-stream");
      }
    }

    $("#laporAddSection").on('click', function(){
      let subButton = document.getElementsByClassName('lapor-add-section-sub-button');
      let subButtonIcons = document.querySelectorAll('.lapor-add-section-sub-button > i');
      for(let i = 0; i < subButton.length; i++){
        if(subButton[i].getAttribute("style")){
          subButton[i].removeAttribute("style");
          subButtonIcons[i].style.fontSize = "0pt";
          subButtonIcons[i].style.lineHeight = "0px";
        }
        else{
          subButton[i].style.width = "35px";
          subButton[i].style.height = "35px";
          subButton[i].style.opacity = "1";
          subButtonIcons[i].removeAttribute("style");
        }
      }
    });

    $(".lapor-add-section-sub-button:nth-child(1)").on('click', function(){
      if(!document.querySelectorAll('.lapor-profile-biodata')[0]){
        document.getElementById('addInput').innerHTML += '<input id="dobInput" type="hidden" value="" name="profile[dateofbirth]">\
          <input id="genderInput" type="hidden" value="" name="profile[gender]">\
          <input id="phoneInput" type="hidden" value="" name="profile[phone]">\
          <input id="addressInput" type="hidden" value="" name="profile[address]">\
          <input id="nationInput" type="hidden" value="" name="profile[nationality]">';
        document.querySelectorAll('.lapor-first-new-section')[0].innerHTML += '<div class="lapor-profile-biodata">\
            <b>Biodata</b>\
            <hr>\
            <div class="lapor-portfolio-item">\
              <div>\
                <i class="fas fa-birthday-cake"></i>\
              </div>\
              <b>Date of Birth</b>\
              <span id="dobDiv" contentEditable="true" data-text="dd/mm/yyyy"></span>\
            </div>\
            <div class="lapor-portfolio-item">\
              <div>\
                <i class="fas fa-genderless"></i>\
              </div>\
              <b>Sex</b>\
              <span id="genderDiv" contentEditable="true" data-text="Male/Female"></span>\
            </div>\
            <div class="lapor-portfolio-item">\
              <div>\
                <i class="fas fa-phone"></i>\
              </div>\
              <b>Phone</b>\
              <span id="phoneDiv" contentEditable="true" data-text="Phone"></span>\
            </div>\
            <div class="lapor-portfolio-item">\
              <div>\
                <i class="fas fa-map-marker-alt"></i>\
              </div>\
              <b>Address</b>\
              <span id="addressDiv" contentEditable="true" data-text="Address"></span>\
            </div>\
            <div class="lapor-portfolio-item">\
              <div>\
                <i class="fas fa-flag"></i>\
              </div>\
              <b>Nationality</b>\
              <span id="nationDiv" contentEditable="true" data-text="Nationality"></span>\
            </div>\
          </div>';

          let addBiodataButton = document.querySelectorAll('.fas.fa-user')[0];
          addBiodataButton.classList.add("fa-user-graduate");
          addBiodataButton.classList.remove("fa-user");
      }
      else if(!document.querySelectorAll('.lapor-profile-education')[0]){
        let degInput = document.getElementsByClassName('degInput');
        
        document.getElementById('addInputEducation').innerHTML += '<input class="degInput" type="hidden" value="" name="profile[education_attributes][' + degInput.length + '][degree]">\
          <input class="joinInput" type="hidden" value="" name="profile[education_attributes][' + degInput.length + '][join_date]">\
          <input class="endInput" type="hidden" value="" name="profile[education_attributes][' + degInput.length + '][end_date]">\
          <input class="profileIDInput" type="hidden" value="" name="profile[education_attributes][' + degInput.length + '][profile_id]">\
          <input class="firmIDInput" type="hidden" value="" name="profile[education_attributes][' + degInput.length + '][firm_id]">\
          <input type="hidden" value="" name="profile[education_attributes][' + degInput.length + '][id]">';
        document.querySelectorAll('.lapor-first-new-section')[0].innerHTML += '<div class="lapor-profile-biodata lapor-profile-education">\
            <b>Education</b>\
            <hr>\
            <div class="lapor-portfolio-item">\
              <div>\
                <i class="fas fa-graduation-cap"></i>\
              </div>\
              <b>Degree</b>\
              <span id="degDiv" class="degDiv" contentEditable="true" data-text="Degree"></span>\
            </div>\
            <div class="lapor-portfolio-item">\
              <div>\
                <i class="fas fa-calendar-alt"></i>\
              </div>\
              <b>Join Date</b>\
              <span id="joinDiv" class="joinDiv" contentEditable="true" data-text="dd/mm/yyyy"></span>\
            </div>\
            <div class="lapor-portfolio-item">\
              <div>\
                <i class="fas fa-calendar-alt"></i>\
              </div>\
              <b>End Date</b>\
              <span id="endDiv" class="endDiv" contentEditable="true" data-text="dd/mm/yyyy"></span>\
            </div>\
          </div>';
      }
      else{
        let degInput = document.getElementsByClassName('degInput');
        
        document.getElementById('addInputEducation').innerHTML += '<input class="degInput" type="hidden" value="" name="profile[education_attributes][' + degInput.length + '][degree]">\
          <input class="joinInput" type="hidden" value="" name="profile[education_attributes][' + degInput.length + '][join_date]">\
          <input class="endInput" type="hidden" value="" name="profile[education_attributes][' + degInput.length + '][end_date]">\
          <input class="profileIDInput" type="hidden" value="" name="profile[education_attributes][' + degInput.length + '][profile_id]">\
          <input class="firmIDInput" type="hidden" value="" name="profile[education_attributes][' + degInput.length + '][firm_id]">\
          <input type="hidden" value="" name="profile[education_attributes][' + degInput.length + '][id]">';
        document.querySelectorAll('.lapor-profile-education')[0].innerHTML += '<div class="lapor-twitbox-space-circles"></div>\
            <div class="lapor-portfolio-item">\
              <div>\
                <i class="fas fa-graduation-cap"></i>\
              </div>\
              <b>Degree</b>\
              <span id="degDiv" class="degDiv" contentEditable="true" data-text="Degree"></span>\
            </div>\
            <div class="lapor-portfolio-item">\
              <div>\
                <i class="fas fa-calendar-alt"></i>\
              </div>\
              <b>Join Date</b>\
              <span id="joinDiv" class="joinDiv" contentEditable="true" data-text="dd/mm/yyyy"></span>\
            </div>\
            <div class="lapor-portfolio-item">\
              <div>\
                <i class="fas fa-calendar-alt"></i>\
              </div>\
              <b>End Date</b>\
              <span id="endDiv" class="endDiv" contentEditable="true" data-text="dd/mm/yyyy"></span>\
            </div>\
          </div>';
      }
    });

    $(".lapor-add-section-sub-button:nth-child(2)").on('click', function(){
      if(!document.querySelectorAll('.lapor-profile-description')[0]){
        document.getElementById('addInput').innerHTML += '<input id="sumInput" type="hidden" value="" name="profile[summary]">';
        document.querySelectorAll('.lapor-second-new-section')[0].innerHTML += '<div class="lapor-profile-description">\
            <input id="sumInput" type="hidden" value="" name="profile[summary]">\
            <div id="sumDiv" contentEditable="true" data-text="Describe yourself..."></div>\
          </div>';

          let addBiodataButton = document.querySelectorAll('.fas.fa-stream')[0];
          addBiodataButton.classList.add("fa-user-tie");
          addBiodataButton.classList.remove("fa-stream");
      };
    });

    $(".lapor-add-section-sub-button:nth-child(3)").on('click', function(){
      document.querySelectorAll('.lapor-third-new-section')[0].innerHTML += '<div id="laporLapor" class="lapor-profile-section">\
          <b contentEditable="true" data-text="Section Head.."></b>\
          <hr>\
          <div class="lapor-portfolio-section-item">\
          </div>\
        </div>';
    });

    $("#nameDiv").on('click', function(){
      let nameDiv = document.getElementById('nameDiv'),
      nameInput = document.getElementById('nameInput');
      
      nameDiv.onblur = function() {
        nameInput.value = nameDiv.innerHTML;
      }
    });
    delegate(document, "paste", "#nameDiv", function(e){
      e.preventDefault();
      return false;
    });
    delegate(document, "keypress", "#nameDiv", function(e){
      if(e.which == 13)
        e.preventDefault();
        return false;
    });

    $("#mottoDiv").on('click', function(){
      let mottoDiv = document.getElementById('mottoDiv'),
      mottoInput = document.getElementById('mottoInput');

      mottoDiv.onblur = function() {
        mottoInput.value = mottoDiv.innerHTML;
      }
    });
    delegate(document, "paste", "#mottoDiv", function(e){
      e.preventDefault();
      return false;
    });
    delegate(document, "keypress", "#mottoDiv", function(e){
      if(e.which == 13)
        e.preventDefault();
        return false;
    });

    $("#sumDiv").on('click', function(e){
      let sumDiv = document.getElementById('sumDiv'),
      sumInput = document.getElementById('sumInput');

      sumDiv.onblur = function() {
        sumInput.value = sumDiv.innerHTML;
      }
    });
    delegate(document, "paste", "#sumDiv", function(e){
      e.preventDefault();
      var text = (e.originalEvent || e).clipboardData.getData('text/plain');
      document.execCommand("insertHTML", false, text);
      return false;
    });

    $("#dobDiv").on('click', function(e){
      let dobDiv = document.getElementById('dobDiv'),
      dobInput = document.getElementById('dobInput');

      dobDiv.onblur = function() {
        dobInput.value = dobDiv.innerHTML;
      }
    });
    delegate(document, "paste", "#dobDiv", function(e){
      e.preventDefault();
      return false;
    });
    delegate(document, "keypress", "#dobDiv", function(e){
      if(e.which == 13)
        e.preventDefault();
        return false;
    });

    $("#genderDiv").on('click', function(e){
      let genderDiv = document.getElementById('genderDiv'),
      genderInput = document.getElementById('genderInput');
      
      genderDiv.onblur = function() {
        genderInput.value = genderDiv.innerHTML;
      }
    });
    delegate(document, "paste", "#genderDiv", function(e){
      e.preventDefault();
      return false;
    });
    delegate(document, "keypress", "#genderDiv", function(e){
      if(e.which == 13)
        e.preventDefault();
        return false;
    });

    $("#phoneDiv").on('click', function(e){
      let phoneDiv = document.getElementById('phoneDiv'),
      phoneInput = document.getElementById('phoneInput');

      phoneDiv.onblur = function() {
        phoneInput.value = phoneDiv.innerHTML;
      }
    });
    delegate(document, "paste", "#phoneDiv", function(e){
      e.preventDefault();
      return false;
    });
    delegate(document, "keypress", "#phoneDiv", function(e){
      if(e.which == 13)
        e.preventDefault();
        return false;
    });

    $("#addressDiv").on('click', function(e){
      let addressDiv = document.getElementById('addressDiv'),
      addressInput = document.getElementById('addressInput');

      addressDiv.onblur = function() {
        addressInput.value = addressDiv.innerHTML;
      }
    });
    delegate(document, "paste", "#addressDiv", function(e){
      e.preventDefault();
      return false;
    });
    delegate(document, "keypress", "#addressDiv", function(e){
      if(e.which == 13)
        e.preventDefault();
        return false;
    });

    $("#nationDiv").on('click', function(e){
      let nationDiv = document.getElementById('nationDiv'),
      nationInput = document.getElementById('nationInput');

      nationDiv.onblur = function() {
        nationInput.value = nationDiv.innerHTML;
      }
    });
    delegate(document, "paste", "#nationDiv", function(e){
      e.preventDefault();
      return false;
    });
    delegate(document, "keypress", "#nationDiv", function(e){
      if(e.which == 13)
        e.preventDefault();
        return false;
    });
  </script>