<%= form_for(:session, url: signin_path) do |form| %>
  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :user_username, class: 'lapor-form-input' %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :user_password, class: 'lapor-form-input', type: 'password' %>
  </div>

  <div class="actions">
    <%= form.submit "Sign In", class: 'lapor-form-button' %>
    <div class="lapor-error-notice"><%= notice %></div>
    <%= link_to 'Don\'t have an account? Sign Up Here!', signup_path %>
    <%= link_to 'Back to home', home_path %>
  </div>
<% end %>

<style>
  #laporNavbar{
    display: none;
  }
  .lapor-main{
    height: calc((100vh - var(--paddingSize)) - var(--navbarSize));
  }
</style>
