<%= form_with(model: user, url: signup_path(@user), local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul id="notice">
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :user_username, class: 'lapor-form-input' %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email, class: 'lapor-form-input' %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :user_password, class: 'lapor-form-input', type: 'password' %>
  </div>

  <div class="actions">
    <%= form.submit "Sign Up", class: 'lapor-form-button' %>
    <div class="lapor-signin-button-divider">OR</div>
    <a href="<%= auth_linked_in_path+'?type=signin' %>" class='lapor-signin-linkedin'>
      <%= image_tag "web_assets/logo/linkedin.png", :class => "lapor-signin-logo" %>
      <span>Sign In with LinkedIn</span>
    </a>
    <%= link_to 'Have an account? Sign In Here!', signin_path %>
    <%= link_to 'Back to home', home_path %>
  </div>
<% end %>

<style>
  #laporNavbar{
    display: none;
  }
  .lapor-main{
    height: calc((100vh - var(--paddingSize)) - var(--navbarSize));
  }
  .lapor-landing-page-title{
    color: white;
  }
</style>

<script>
    var notice = document.getElementById('notice');
    if(notice!=null){
      var errorList = notice.getElementsByTagName('li');
      var errorText = "";
      for(let i=0;i<errorList.length;i++){
        errorText+=errorList[i].innerText+'<br>';
      }
      if(notice.innerText.trim()!=""){
          Swal.fire({
            type: 'error',
            title: 'Error',
            html: '<br>'+errorText
          });
          notice.innerText="";
      }
    }
</script>
