<%= form_for(:session, url: signin_path) do |form| %>
  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :user_username, class: 'lapor-form-input' %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :user_password, class: 'lapor-form-input', type: 'password' %>
  </div>

  <div class="actions">
    <%= form.submit "Sign In", class: 'lapor-form-button' %>
    <p id="notice"><%= notice %></p>
    <%= link_to 'Sign In with LinkedIn', auth_linked_in_path+'?type=signin' %>
    <%= link_to 'Don\'t have an account? Sign Up Here!', signup_path %>
    <%= link_to 'Back to home', home_path %>
  </div>
<% end %>

<style>
  #laporNavbar{
    display: none;
  }
  .lapor-main{
    height: calc((100vh - var(--paddingSize)) - var(--navbarSize));
  }
  .lapor-landing-page-title{
    color: white;
  }
</style>

<script>
    var notice = document.getElementById('notice');
    notice.style.display="none";
    var Toast = Swal.mixin({
        toast: true,
        position: 'bottom-end',
        showConfirmButton: false,
        timer: 1500
    })
    if(notice.innerText.trim()!=""){
        Toast.fire({
            type: 'error',
            title: notice.innerText
        })
        notice.innerText="";
    }
</script>
