<%= form_with(model: user, url: put_user_path, method: :put, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul id="notice">
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :user_username, class: 'lapor-form-input' %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email, class: 'lapor-form-input' %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :user_password, class: 'lapor-form-input', type: 'password' %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: 'lapor-form-button' %>
  </div>
<% end %>

<style>
  #laporNavbar{
    display: none;
  }
  .lapor-main{
    height: calc((100vh - var(--paddingSize)) - var(--navbarSize));
  }
  .lapor-landing-page-title{
    color: white;
  }
</style>

<script>
    $(document).ready(function(){
      if($('#error_explanation').length==0){
        Swal.fire({
          type: 'warning',
          title: 'Hi!',
          html: 'Thank you for signing in using LinkedIn<br>Please update your generated user data before continuing',
        });
      }
    });
    var notice = document.getElementById('notice');
    if(notice!=null){
      var errorList = notice.getElementsByTagName('li');
      var errorText = "";
      for(let i=0;i<errorList.length;i++){
        errorText+=errorList[i].innerText+'<br>';
      }
      if(notice.innerText.trim()!=""){
          Swal.fire({
            type: 'error',
            title: 'Error',
            html: '<br>'+errorText
          });
          notice.innerText="";
      }
    }
</script>
