<p id="notice">
  <%= notice %>
</p>

<% if session[:username]==@user.username %>
  <div class="lapor-edit-profile-title">
    <div class="lapor-edit-profile-name lapor-edit-profile-name-move">
      Welcome, 
      <% if @user.profile == nil || @user.profile.fullname == '' %>
        <%= @user.username %> 
      <% else %>
        <%= @user.profile.fullname %>
      <% end %>
    </div>
    <div class="lapor-edit-profile-button lapor-edit-form-show">
      <i class="fas fa-pencil-alt fa-1x"></i>
    </div>
  </div>
<% else %>
  <div class="lapor-edit-profile-title">
    <div class="lapor-edit-profile-name">
      <% if @user.profile == nil || @user.profile.fullname == '' %>
        <%= @user.username %>'s Profile
      <% else %>
        <%= @user.profile.fullname %>'s Profile
      <% end %>
  </div>
  <% if session[:username]==nil %>
    <style>
      #laporNavbar{
        display: none;
      }
    </style>
  <% end %>
<% end %>

<div class="lapor-view-image-container">
  <div id="laporEditProfilePicture" class="lapor-view-profile-image">
    <% if @user.profile == nil || @user.profile.profile_picture == '' || @user.profile.profile_picture == nil  %>
        <%= image_tag "web_assets/anonymous/profile_male.jpg", :class => "lapor-profile-resize" %>
    <% else %>
        <%= image_tag @user.profile.profile_picture, :class => "lapor-profile-resize"  %>
    <% end %>
  </div>
  <% if @user.profile == nil || @user.profile.home_picture == '' || @user.profile.home_picture == nil  %>
      <%= image_tag "web_assets/anonymous/profile_background.jpg", :class => "lapor-profile-resize",  :id => "laporEditHomePicture" %>
  <% else %>
      <%= image_tag @user.profile.home_picture, :class => "lapor-profile-resize",  :id => "laporEditHomePicture" %>
  <% end %>
</div>

<% if @user.profile != nil && @user.profile.lifemotto != nil && @user.profile.lifemotto != ''%>
  <div class="lapor-profile-motto">
    <i>"<%= @user.profile.lifemotto %>"</i>
  </div>
<% end %>

<div class="lapor-profile-section-container">
  <div class="lapor-first-new-section">
    <% if @user.profile != nil &&
          (
            @user.profile.dateofbirth != nil && @user.profile.dateofbirth != '' || 
            @user.profile.gender != nil && @user.profile.gender != '' ||
            @user.profile.phone != nil && @user.profile.phone != '' ||
            @user.profile.address != nil && @user.profile.address != '' ||
            @user.profile.nationality != nil && @user.profile.nationality != ''
          )
    %>
      <div class="lapor-profile-biodata">
        <b>Biodata</b>
        <div id="laporEditBiodata" class="lapor-edit-profile-button lapor-edit-form-show">
          <i class="fas fa-pencil-alt fa-1x"></i>
        </div>
        <hr>
        <% if @user.profile.dateofbirth != nil && @user.profile.dateofbirth != '' %>
          <div class="lapor-portfolio-item">
            <div>
              <i class="fas fa-birthday-cake"></i>
            </div>
            <b>Date of Birth</b>
            <span>
              <%= @user.profile.dateofbirth == nil ? '' : @user.profile.dateofbirth.strftime("%d %B %Y") %>
            </span>
          </div>
        <% end %>
        <% if @user.profile.gender != nil && @user.profile.gender != '' %>
          <div class="lapor-portfolio-item">
            <div>
              <i class="fas fa-<%= @user.profile.gender == 'Male' ? 'mars' : 'venus' %>"></i>
            </div>
            <b>Sex</b>
            <span>
              <%= @user.profile.gender %>
            </span>
          </div>
        <% end %>
        <% if @user.profile.phone != nil && @user.profile.phone != '' %>
          <div class="lapor-portfolio-item">
            <div>
              <i class="fas fa-phone"></i>
            </div>
            <b>Phone</b>
            <span>
              <%= @user.profile.phone %>
            </span>
          </div>
        <% end %>
        <% if @user.profile.address != nil && @user.profile.address != '' %>
          <div class="lapor-portfolio-item">
            <div>
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <b>Address</b>
            <span>
              <%= @user.profile.address %>
            </span>
          </div>
        <% end %>
        <% if @user.profile.nationality != nil && @user.profile.nationality != '' %>
          <div class="lapor-portfolio-item">
            <div>
              <i class="fas fa-flag"></i>
            </div>
            <b>Nationality</b>
            <span>
              <%= @user.profile.nationality %>
            </span>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @user.profile.education != nil %>
      <% @headerFlag = false %>
      <% @user.profile.education.each_with_index do |education, index| %>
        <% if education != nil &&
                (
                  education.degree != nil && education.degree != '' || 
                  education.join_date != nil && education.join_date != '' ||
                  education.end_date != nil && education.end_date != '' ||
                  education.firm_id != nil && education.firm_id != ''
                )
        %>
          <% if @headerFlag == false %>
            <div class="lapor-profile-biodata lapor-profile-education">
              <b>Education</b>
              <hr>
          <% end %>
          <% if @headerFlag == true %>
            <div class="lapor-twitbox-space-circles"></div>
          <% end %>
          <div class="lapor-portfolio-item">
            <div>
              <i class="fas fa-graduation-cap"></i>
            </div>
            <b>Degree</b>
            <span id="degDiv" data-text="Degree"><%= education.degree %></span>
          </div>
          <div class="lapor-portfolio-item">
            <div>
              <i class="fas fa-calendar-alt"></i>
            </div>
            <b>Join Date</b>
            <span id="joinDiv" data-text="dd/mm/yyyy"><%= education.join_date == nil ? '' : education.join_date.strftime("%d %B %Y") %></span>
          </div>
          <div class="lapor-portfolio-item">
            <div>
              <i class="fas fa-calendar-alt"></i>
            </div>
            <b>End Date</b>
            <span id="endDiv" data-text="dd/mm/yyyy"><%= education.end_date == nil ? '' : education.end_date.strftime("%d %B %Y") %></span>
          </div>
          <% @headerFlag = true %>
          <% if index == @user.profile.education.size - 1 %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% if @user.profile.experience != nil %>
      <% @headerFlag = false %>
      <% @user.profile.experience.each_with_index do |experience, index| %>
        <% if experience != nil &&
          (
            experience.position != nil && experience.position != '' || 
            experience.start_date != nil && experience.start_date != '' ||
            experience.end_date != nil && experience.end_date != '' ||
            experience.firm_id != nil && experience.firm_id != ''
          )
        %>
          <% if @headerFlag == false %>
            <div class="lapor-profile-biodata lapor-profile-education">
              <b>Experience</b>
              <hr>
          <% end %>
          <% if @headerFlag == true %>
            <div class="lapor-twitbox-space-circles"></div>
          <% end %>
          <div class="lapor-portfolio-item">
            <div>
              <i class="fas fa-briefcase"></i>
            </div>
            <b>Position</b>
            <span class="posDiv" contentEditable="true" data-text="Position"><%= experience.position %></span>
          </div>
          <div class="lapor-portfolio-item">
            <div>
              <i class="fas fa-calendar-alt"></i>
            </div>
            <b>Start Date</b>
            <span class="startExDiv" contentEditable="true" data-text="dd/mm/yyyy"><%= experience.start_date == nil ? '' : experience.start_date.strftime("%d %B %Y") %></span>
          </div>
          <div class="lapor-portfolio-item">
            <div>
              <i class="fas fa-calendar-alt"></i>
            </div>
            <b>End Date</b>
            <span class="endExDiv" contentEditable="true" data-text="dd/mm/yyyy"><%= experience.end_date == nil ? '' : experience.end_date.strftime("%d %B %Y") %></span>
          </div>
          <% @headerFlag = true %>
          <% if index == @user.profile.experience.size - 1 %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="lapor-second-new-section">
    <% if @user.profile != nil && @user.profile.summary != nil && @user.profile.summary != ''%>
      <div class="lapor-profile-description">
        <div><%= @user.profile.summary %></div>
      </div>
    <% end %>
  </div>
  <div class="lapor-third-new-section">
  </div>
</div>



<% if session[:username]==@user.username %>
  <script>
    var notice = document.getElementById('notice');
    notice.style.display="none";
    var Toast = Swal.mixin({
        toast: true,
        position: 'bottom-end',
        showConfirmButton: false,
        timer: 3000
    })
    if(notice.innerText.trim()!=""){
        Toast.fire({
            type: 'success',
            title: notice.innerText
        })
    }

    $(document).ready(function(){
      $('.lapor-edit-image-container > div.lapor-edit-profile-image ~ img ~ i').on('mouseenter', function(){
        $('.lapor-edit-image-container > div.lapor-edit-profile-image ~ img').css({'opacity':'.5'});
      });
      $('.lapor-edit-image-container > div.lapor-edit-profile-image ~ img ~ i').mouseout(function(){
        $('.lapor-edit-image-container > div.lapor-edit-profile-image ~ img').removeAttr("style");
      });
        
      $('.lapor-edit-form-show').on('click', function(){
        window.location.href= '/profile';
      });
    });
  </script>
<% end %>