<div id="workbookView" style="display: none; left: calc((100vw - 840px) / 2); top: calc((100vh - 594px) / 2); position: absolute;">
    <div class="lapor-book-a4">
        <% @pages = Dir.glob(File.join( Rails.root.join('app','assets', 'images', 'user_assets', "#{session[:username]}/#{@thing.name}"), '**', '*')).select { |file| File.file?(file) }.count %>
        <% @count = 1 %>
        <% @zIndex = 1 %>
        <% if @pages % 2 == 1 %>
            <% @pages += 1 %>
            <% (1..@pages).each do |i| %>
                    <% if i % 2 == 1 %>
                        <div class="lapor-page-container-a4" data-page="<%= @zIndex %>" style="z-index: <%= @zIndex %>">
                            <div class="lapor-page-a4">
                                <div class="lapor-page-a4-front">
                                    <%= image_tag "user_assets/#{session[:username]}/#{@thing.name}/#{@thing.name}_#{@pages-@count}.jpg", :class => "lapor-profile-resize" %>
                                </div>
                        <% @count -= 1 %>
                        <% @zIndex += 1 %>
                    <% elsif i % 2 == 0 %>
                        <% if @count == 0 %>
                                <div class="lapor-page-a4-back">
                                </div>
                            </div>
                        </div>
                        <% else %>
                                <div class="lapor-page-a4-back">
                                    <%= image_tag "user_assets/#{session[:username]}/#{@thing.name}/#{@thing.name}_#{@pages-@count}.jpg", :class => "lapor-profile-resize" %>
                                </div>
                            </div>
                        </div>
                        <% end %>
                        <% @count = @count + 3 %>
                    <% end %>
            <% end %>
        <% elsif @pages % 2 == 0 %>
            <% (1..@pages).each do |i| %>
                    <% if i % 2 == 1 %>
                        <div class="lapor-page-container-a4" data-page="<%= @zIndex %>" style="z-index: <%= @zIndex %>">
                            <div class="lapor-page-a4">
                                <div class="lapor-page-a4-front">
                                    <%= image_tag "user_assets/#{session[:username]}/#{@thing.name}/#{@thing.name}_#{@pages-@count}.jpg", :class => "lapor-profile-resize" %>
                                </div>
                        <% @count -= 1 %>
                        <% @zIndex += 1 %>
                    <% elsif i % 2 == 0 %>
                        <% if @count == 0 %>
                                <div class="lapor-page-a4-back">
                                </div>
                            </div>
                        </div>
                        <% else %>
                                <div class="lapor-page-a4-back">
                                    <%= image_tag "user_assets/#{session[:username]}/#{@thing.name}/#{@thing.name}_#{@pages-@count}.jpg", :class => "lapor-profile-resize" %>
                                </div>
                            </div>
                        </div>
                        <% end %>
                        <% @count = @count + 3 %>
                    <% end %>
            <% end %>
        <% end %>
    </div>
</div>

<script id="workBookViewJS" type="text/javascript">
    $(document).ready(function(){
        let count = 1;
        function moveBack(element){
            $(element).css('z-index', element.dataset.page);
            setTimeout(function(){
                $(element).find(".lapor-page-a4-front").removeAttr('style');
                $(element).find(".lapor-page-a4-back").removeAttr('style');
            }, 150);
            setTimeout(function(){
                bindClickEvent()
            }, 800);
        }
        function bindClickEvent(){
            $('.lapor-page-container-a4').bind('click', function(){
                if($(this).hasClass('lapor-page-a4-turn')){
                    let highestIndex = 0;
                    let currElement;
                    $(".lapor-page-container-a4").each(function() {
                        if($(this).hasClass('lapor-page-a4-turn')){
                            var currentIndex = parseInt($(this).css("zIndex"), 10);
                            if(currentIndex > highestIndex) {
                                highestIndex = currentIndex;
                                currElement = this;
                            }
                        }
                    });
                    $(currElement).removeClass('lapor-page-a4-turn');
                    $('.lapor-page-container-a4').unbind();
                    moveBack(currElement);
                    count--;
                }
                else{
                    let highestIndex = 0;
                    let currElement;
                    $(".lapor-page-container-a4").each(function() {
                        if(!$(this).hasClass('lapor-page-a4-turn')){
                            var currentIndex = parseInt($(this).css("zIndex"), 10);
                            if(currentIndex > highestIndex) {
                                highestIndex = currentIndex;
                                currElement = this;
                            }
                        }
                    });
                    $(currElement).addClass('lapor-page-a4-turn');
                    $(currElement).css('z-index', count);
                    setTimeout(function(){
                        backfaceChange(currElement)
                    }, 150)
                    $('.lapor-page-container-a4').unbind();
                    setTimeout(function(){
                        bindClickEvent()
                    }, 800);
                    count++;
                }
            });
        }
        function backfaceChange(element){
            $(element).find(".lapor-page-a4-front").css('backface-visibility', 'visible');
            $(element).find(".lapor-page-a4-back").css('backface-visibility', 'visible');
        }
        bindClickEvent();
    });
</script>