<%= form_with(model: thing, id: :uploadThingForm, url: create_addBook_path(@thing), local: true) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :bookName, class: 'lapor-form-input' %>
  </div>

  <div class="field">
    <%= form.label :thingtype_id, 'Thing Type' %><br>
    <%= form.select(:thingtype_id, options_for_select(@thingtype.map { |u| [u.typename, u.id]})) %>
  </div>

  <div class="field">
    <%= form.label :path, 'Choose file to upload' %><br>
    <%= form.file_field :path %>
  </div>

  <div class="actions">
    <%= form.submit "Save Book", id: :saveBook, class: 'lapor-form-button' %>
  </div>

  <script>
    // $('#uploadThingForm').on('submit', function(e){
    //   e.preventDefault();
    //   console.log('prevented');
    // });
  </script>
<% end %>

