<p id="notice">
    <%= notice %>
</p>

<style>
    .lapor-workbook{
        width: 36px; 
        height: 100%; 
        background: dodgerBlue; 
        cursor: pointer; 

        position: relative;
    }
    .lapor-portfolio-containter{
        margin-top: 20px;
        display: flex;
    }
</style>

<div class="lapor-profile" style="justify-content: space-between">
    <div style="display: flex">
        <div class="lapor-profile-picture" style="overflow: hidden">
            <% if @user.profile == nil || @user.profile.profile_picture == '' || @user.profile.profile_picture == nil  %>
                <%= image_tag "web_assets/anonymous/profile_male.jpg", :class => "lapor-profile-resize" %>
            <% else %>
                <%= image_tag @user.profile.profile_picture, :class => "lapor-profile-resize"  %>
            <% end %>
        </div>
        <h1 class="lapor-profile-name">
            <% if @user.profile == nil || @user.profile.fullname == '' %>
                <%= @user.username %> 
            <% else %>
                <%= @user.profile.fullname %>
            <% end %>
        </h1>
    </div>
    <div id="uploadModalShow" style="text-align: center; cursor: pointer; line-height: 27px; width: 100px; height: 28px; background: #dd5858; color: white; border-radius: 5px;">
        Upload
    </div>
    <!--
    <%= form_tag create_convert_path, method: :post do %>
        <%= submit_tag 'Call Action' %>
    <% end %>
    -->
</div>

    <% @previousType = 0 %>
    <div class="lapor-portfolio-containter">
    <% @user.thing.each_with_index do |thing, index| %>
        <% if thing.thingtype_id == 1 %>
            <% if @previousType != thing.thingtype_id %>
                <div id="shelf">
                    <div id="shelfBookContainer" style="display: flex; padding-left: 7px; padding-right: 7px; width: calc(200px - 14px); height: calc(594px * 4 / 10);">
                        <a id="workbook" class="lapor-workbook" data-remote="true" href="<%= loadBookView_path(thing.id)%>">
                            <span style="position: absolute; bottom: 0; left: calc(36px / 4 * 3); transform: rotate(-90deg); color: white; text-decoration: none; transform-origin: bottom left; text-align: center; font-size: 12pt; width: 237px;">
                                <%= thing.name %>
                            </span>
                        </a>
                <% @previousType = thing.thingtype_id %>
            <% elsif @previousType == thing.thingtype_id %>
                        <a id="workbook" class="lapor-workbook" data-remote="true" href="<%= loadBookView_path(thing.id)%>">
                            <span style="position: absolute; bottom: 0; left: calc(36px / 4 * 3); transform: rotate(-90deg); color: white; text-decoration: none; transform-origin: bottom left; text-align: center; font-size: 12pt; width: 237px;">
                                <%= thing.name %>
                            </span>
                        </a>
                <% @previousType = thing.thingtype_id %>
            <% end %>
        <% else %>
            <% if @previousType == 1 %>
                    </div>
                    <div id="woodenShelf" style="width: 270px; height: 27px; border-radius: 7px; background: brown;"></div>
                </div>
            <% end %>
            <% if thing.thingtype_id == 2 %>
                <div style="margin-left: 50px; margin-right: 50px; width: 400px; rposition: relative;">
                    <div class="lapor-frame-box">
                        <%= image_tag "user_assets/#{session[:username]}/#{thing.name}/#{thing.name}.jpg", :class => "lapor-frame-image-resize"  %>
                    </div>
                </div>
            <% end %>
            <% @previousType = thing.thingtype_id %>
        <% end %>
        <% if index == @user.thing.size - 1 %>
            <% if @previousType == 1 %>
                    </div>
                    <div id="woodenShelf" style="width: 270px; height: 27px; border-radius: 7px; background: brown;"></div>
                </div>
            <% end %>
        <% end %>
    <% end %>
    </div>

<div id="modal" style="display: none; top: 0; left: 0; position: fixed; background: rgba(192,192,192,0.7); width: 100vw; height: 100vh;">
    <div id="uploadWorkbook" style="display: none; background: white; left: calc((100vw - 400px) / 2); width: 400px; padding: 20px; top: calc((100vh - 300px) / 2); position: absolute;">
        <h1>Upload a Thing</h1>
        <%= render 'upload', thing: @thing %>    
    </div>
    <div id="closeModal" class="lapor-exit-box">
        X
    </div>
</div>  

<script type="text/javascript">
    $(document).ready(function(){
        $('#uploadModalShow').on('click', function(){
            // $('#modal').show();
            $('#modal').fadeIn(500, function(){
               $('#uploadWorkbook').fadeIn(500);
            });
        });
        $('#closeModal').on('click', function(){
            $('#modal').fadeOut(500, function(){
                $('#uploadWorkbook').hide();
                $('#workbookView').hide();
            });
        });
        // $('#modal *').on('click', function(e){
        //     e.stopPropagation();
        // });
    });
    // setTimeout(function(){
    //     document.getElementById('laporNavbar').style.transform = 'translateY(-42px)';
    //     document.getElementById('laporBody').style.transform = 'translateY(-42px)';
    // }, 200);
</script>