<p id="notice">
    <%= notice %>
</p>

<div class="lapor-profile lapor-create">
    <div>
        <div class="lapor-profile-picture">
            <% if @user.profile == nil || @user.profile.profile_picture == '' || @user.profile.profile_picture == nil  %>
                <%= image_tag "web_assets/anonymous/profile_male.jpg", :class => "lapor-profile-resize" %>
            <% else %>
                <%= image_tag @user.profile.profile_picture, :class => "lapor-profile-resize"  %>
            <% end %>
        </div>
        <h1 class="lapor-profile-name">
            <% if @user.profile == nil || @user.profile.fullname == '' %>
                <%= @user.username %> 
            <% else %>
                <%= @user.profile.fullname %>
            <% end %>
        </h1>
    </div>
    <div id="uploadModalShow">
        Upload
    </div>
</div>

    <% @previousType = 0 %>
    <div class="lapor-portfolio-container">
    <% @user.thing.each_with_index do |thing, index| %>
        <% if thing.thingtype_id == 1 %>
            <% if @previousType != thing.thingtype_id %>
                <div id="shelf">
                    <div id="shelfBookContainer">
                        <a id="workbook" class="lapor-workbook" data-remote="true" href="<%= loadBookView_path(thing.id)%>">
                            <span>
                                <%= thing.name %>
                            </span>
                        </a>
                <% @previousType = thing.thingtype_id %>
            <% elsif @previousType == thing.thingtype_id %>
                        <a id="workbook" class="lapor-workbook" data-remote="true" href="<%= loadBookView_path(thing.id)%>">
                            <span>
                                <%= thing.name %>
                            </span>
                        </a>
                <% @previousType = thing.thingtype_id %>
            <% end %>
        <% else %>
            <% if @previousType == 1 %>
                    </div>
                    <div id="woodenShelf"></div>
                </div>
            <% end %>
            <% if thing.thingtype_id == 2 %>
                <div class="lapor-picture-frame">
                    <%= image_tag "user_assets/#{thing.path}", :class => "lapor-frame-image-resize"  %>
                </div>
            <% end %>
            <% @previousType = thing.thingtype_id %>
        <% end %>
        <% if index == @user.thing.size - 1 %>
            <% if @previousType == 1 %>
                    </div>
                    <div id="woodenShelf"></div>
                </div>
            <% end %>
        <% end %>
    <% end %>
    </div>

<div id="modal" class="lapor-upload-book-modal">
    <div id="uploadWorkbook">
        <h1>Upload a Thing</h1>
        <%= render 'upload', thing: @thing %>    
    </div>
</div>  

<script type="text/javascript">
    var modal = document.getElementById('modal');
    var workbookView = document.getElementById('workbookView');
    var workbookViewJS = document.getElementById('workbookViewJS');
    var uploadWorkbook = document.getElementById('uploadWorkbook');
    var uploadModalShow = document.getElementById('uploadModalShow');
    var homePictureForm = document.getElementById('homePictureForm');
    var profilePictureForm = document.getElementById('profilePictureForm');

    uploadModalShow.onclick = function(){
        modal.style.opacity = "0";
        uploadWorkbook.style.opacity = "0";
        modal.style.transition = "all .3s ease";
        modal.style.display = "block";
        setTimeout(() => {
            modal.style.opacity = "1";
            uploadWorkbook.style.transition = "all .3s ease";
            uploadWorkbook.style.display = "block";
            setTimeout(() => {
                uploadWorkbook.style.opacity = "1";
            }, 300);
        }, 300);
    }
    modal.onclick = function(e){
        if (e.target !== this)
            return;
        else{
            modal.style.opacity = "0";
            setTimeout(() => {
                modal.removeAttribute('style');
                uploadWorkbook.removeAttribute('style');
                workbookView = document.getElementById('workbookView');
                workbookViewJS = document.getElementById('workbookViewJS');
                
                if(homePictureForm){
                    homePictureForm.style.display = "none";
                }
                if(profilePictureForm){
                    profilePictureForm.style.display = "none";
                }
                if(workbookView){
                    workbookView.parentNode.removeChild(workbookViewJS);
                    workbookView.parentNode.removeChild(workbookView);
                }
            }, 300);
        }
    };
</script>