<p id="notice">
    <%= notice %>
</p>

<div class="lapor-profile lapor-create">
    <div>
        <div class="lapor-profile-picture">
            <% if @user.profile == nil || @user.profile.profile_picture == '' || @user.profile.profile_picture == nil  %>
                <%= image_tag "web_assets/anonymous/profile_male.jpg", :class => "lapor-profile-resize" %>
            <% else %>
                <%= image_tag @user.profile.profile_picture, :class => "lapor-profile-resize"  %>
            <% end %>
        </div>
        <h1 class="lapor-profile-name">
            <% if @user.profile == nil || @user.profile.fullname == '' %>
                <%= @user.username %> 
            <% else %>
                <%= @user.profile.fullname %>
            <% end %>
        </h1>
    </div>
    <div id="uploadModalShow">
        Upload
    </div>
</div>

    <% @previousType = 0 %>
    <div class="lapor-portfolio-containter">
    <% @user.thing.each_with_index do |thing, index| %>
        <% if thing.thingtype_id == 1 %>
            <% if @previousType != thing.thingtype_id %>
                <div id="shelf">
                    <div id="shelfBookContainer">
                        <a id="workbook" class="lapor-workbook" data-remote="true" href="<%= loadBookView_path(thing.id)%>">
                            <span>
                                <%= thing.name %>
                            </span>
                        </a>
                <% @previousType = thing.thingtype_id %>
            <% elsif @previousType == thing.thingtype_id %>
                        <a id="workbook" class="lapor-workbook" data-remote="true" href="<%= loadBookView_path(thing.id)%>">
                            <span>
                                <%= thing.name %>
                            </span>
                        </a>
                <% @previousType = thing.thingtype_id %>
            <% end %>
        <% else %>
            <% if @previousType == 1 %>
                    </div>
                    <div id="woodenShelf"></div>
                </div>
            <% end %>
            <% if thing.thingtype_id == 2 %>
                <div class="lapor-frame-box">
                    <div>
                        <%= image_tag "user_assets/#{session[:username]}/#{thing.name}/#{thing.name}.jpg", :class => "lapor-frame-image-resize"  %>
                    </div>
                </div>
            <% end %>
            <% @previousType = thing.thingtype_id %>
        <% end %>
        <% if index == @user.thing.size - 1 %>
            <% if @previousType == 1 %>
                    </div>
                    <div id="woodenShelf"></div>
                </div>
            <% end %>
        <% end %>
    <% end %>
    </div>

<div id="modal" class="lapor-upload-book-modal">
    <div id="uploadWorkbook">
        <h1>Upload a Thing</h1>
        <%= render 'upload', thing: @thing %>    
    </div>
    <div id="closeModal" class="lapor-exit-box">
        X
    </div>
</div>  

<script type="text/javascript">
    $(document).ready(function(){
        $('#uploadModalShow').on('click', function(){
            // $('#modal').show();
            $('#modal').fadeIn(500, function(){
               $('#uploadWorkbook').fadeIn(500);
            });
        });
        $('#closeModal').on('click', function(){
            $('#modal').fadeOut(500, function(){
                $('#uploadWorkbook').hide();
                $('#workbookView').remove();
                $('#workBookViewJS').remove();
            });
        });
    });
</script>