<!DOCTYPE html>
<html>
  <head>
    <title>LadangPortfolio</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" /> 
  </head>

  <body>
    <header id="laporNavbar" class="lapor-navbar"> 
        <%= link_to("Dashboard", dashboard_path, :class => 'lapor-navbar-item' ) %>
        <%= link_to("Profile", editProfile_path, :class => 'lapor-navbar-item') %>
        <%= link_to("Create", { :controller => 'create', :action => 'index'}, :class => 'lapor-navbar-item' ) %>
        <%= link_to("Connect", { :controller => 'connection', :action => 'index'}, :class => 'lapor-navbar-item' ) %>
        <% if user_is_logged_in? %>
          <%= link_to("Sign Out", signout_path, :class => 'lapor-navbar-item lapor-signin-button') %>
        <% else %>
          <%= link_to("Sign In", signin_path, :class => 'lapor-navbar-item lapor-signin-button') %>
        <% end %>
        <label for="burger-shower">
          <div></div>
          <div></div>
          <div></div>
        </label>
    </header>
    <input type="checkbox" id="burger-shower" class="burger-shower">
    <section class="lapor-alt-navbar">
        <%= link_to("Dashboard", dashboard_path, :class => 'lapor-alt-navbar-item' ) %>
        <%= link_to("Profile", editProfile_path, :class => 'lapor-alt-navbar-item') %>
        <%= link_to("Create", { :controller => 'create', :action => 'index'}, :class => 'lapor-alt-navbar-item' ) %>
        <%= link_to("Connect", { :controller => 'connection', :action => 'index'}, :class => 'lapor-alt-navbar-item' ) %>
        <% if user_is_logged_in? %>
          <%= link_to("Sign Out", signout_path, :class => 'lapor-alt-navbar-item') %>
        <% else %>
          <%= link_to("Sign In", signin_path, :class => 'lapor-alt-navbar-item') %>
        <% end %>
    </section>
    <% if current_page?(root_url) %>
      <main>
        <%= yield %>
      </main>
    <% else %>
      <main class="lapor-main">
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
