<!DOCTYPE html>
<html>
  <head>
    <title>Portluv</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
      <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-analytics.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'web_assets/favicon.ico' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Kanit:700" rel="stylesheet">
    <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" /> 
  </head>

  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyA8y_a3JRsxyzS8JZEB-xia-WILwmtZn8I",
      authDomain: "portluv-59566.firebaseapp.com",
      databaseURL: "https://portluv-59566.firebaseio.com",
      projectId: "portluv-59566",
      storageBucket: "portluv-59566.appspot.com",
      messagingSenderId: "896431823346",
      appId: "1:896431823346:web:53599228b724cd168af36b",
      measurementId: "G-R470CXDBD8"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
  </script>

  <body>
    <header id="laporNavbar" class="lapor-navbar"> 
        <%= link_to("Dashboard", dashboard_path, :class => 'lapor-navbar-item' ) %>
        <%= link_to("Profile", editProfile_path, :class => 'lapor-navbar-item') %>
        <%= link_to("Create", { :controller => 'create', :action => 'index'}, :class => 'lapor-navbar-item' ) %>
        <%= link_to("Connect", { :controller => 'connection', :action => 'index'}, :class => 'lapor-navbar-item' ) %>
        <% if user_is_logged_in? %>
          <%= link_to("Sign Out", signout_path, :class => 'lapor-navbar-item lapor-signin-button') %>
        <% else %>
          <%= link_to("Sign In", signin_path, :class => 'lapor-navbar-item lapor-signin-button') %>
        <% end %>
        <label class="lapor-burger-label" for="laporAltNavBarTrigger">
          <div></div>
          <div></div>
          <div></div>
        </label>
    </header>
    <span class="lapor-landing-page-title lapor-alt-navbar-title">PORTLUV</span>
    <input type="checkbox" id="laporAltNavBarTrigger" class="lapor-burger">
    <section class="lapor-alt-navbar">
        <%= link_to("Dashboard", dashboard_path, :class => 'lapor-alt-navbar-item' ) %>
        <%= link_to("Profile", editProfile_path, :class => 'lapor-alt-navbar-item') %>
        <%= link_to("Create", { :controller => 'create', :action => 'index'}, :class => 'lapor-alt-navbar-item' ) %>
        <%= link_to("Connect", { :controller => 'connection', :action => 'index'}, :class => 'lapor-alt-navbar-item' ) %>
        <% if user_is_logged_in? %>
          <%= link_to("Sign Out", signout_path, :class => 'lapor-alt-navbar-item') %>
        <% else %>
          <%= link_to("Sign In", signin_path, :class => 'lapor-alt-navbar-item') %>
        <% end %>
    </section>
    <% if current_page?(root_url) %>
      <main>
        <%= yield %>
      </main>
    <% else %>
      <main class="lapor-main">
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
