<!DOCTYPE html>
<html>
  <head>
    <title>LadangPortfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>

  <body>
    <header id="laporNavbar" class="lapor-navbar"> 
        <%= link_to("Dashboard", { :controller => 'dashboard', :action => 'index'}, :class => 'lapor-navbar-item' ) %>
        <%= link_to("Profile", { :controller => 'dashboard', :action => 'profile'}, :class => 'lapor-navbar-item') %>
        <div class="lapor-navbar-item">Create</div> 
        <div class="lapor-navbar-item">Contact</div>
    </header>
    <main class="lapor-main">
      <%= yield %>
    </main>
  </body>
</html>
